<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

    <div class="user_menu">
      <mat-nav-list>
        <a mat-list-item (click)="editar(user)">
          <ngx-avatar size="30" name="image" src="{{user?.image}}"></ngx-avatar>
          <span [@animateText]="linkText ? 'show' : 'hide'">{{user?.name}}</span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-nav-list>
        <a mat-list-item matTooltip="Usuarios" [matTooltipShowDelay]="1000" [matTooltipPosition]="'right'"
          routerLink="/dashboard/user" routerLinkActive="active" [class.selected-color]="selectedMenu['user']" >
          <mat-icon [ngClass]="{'menu-icon': linkText}">person</mat-icon><span
            [@animateText]="linkText ? 'show' : 'hide'">Usuarios</span>
        </a>
        <a mat-list-item matTooltip="Relatorios" [matTooltipShowDelay]="1000" [matTooltipPosition]="'right'" [class.selected-color]="selectedMenu['report']"
          routerLink="/dashboard/user" routerLinkActive="active">
          <mat-icon [ngClass]="{'menu-icon': linkText}">assessment</mat-icon><span
            [@animateText]="linkText ? 'show' : 'hide'">Relatorios</span>
        </a>
        <a mat-list-item matTooltip="Filmes" [matTooltipShowDelay]="1000" [matTooltipPosition]="'right'" [class.selected-color]="selectedMenu['movie']"
          routerLink="/dashboard/movie" routerLinkActive="active">
          <mat-icon [ngClass]="{'menu-icon': linkText}">movie</mat-icon><span
            [@animateText]="linkText ? 'show' : 'hide'">Filmes</span>
        </a>
        <a mat-list-item matTooltip="Salas" [matTooltipShowDelay]="1000" [matTooltipPosition]="'right'"[class.selected-color]="selectedMenu['room']"
          routerLink="/dashboard/room" routerLinkActive="active">
          <mat-icon [ngClass]="{'menu-icon': linkText}">video_label</mat-icon><span
            [@animateText]="linkText ? 'show' : 'hide'">Salas</span>
        </a>
        <a mat-list-item matTooltip="Sessões" [matTooltipShowDelay]="1000" [matTooltipPosition]="'right'"[class.selected-color]="selectedMenu['session']"
          routerLink="/dashboard/session" routerLinkActive="active">
          <mat-icon [ngClass]="{'menu-icon': linkText}">theaters</mat-icon><span
            [@animateText]="linkText ? 'show' : 'hide'">Sessões</span>
        </a>
      </mat-nav-list>
    </div>
  </div>
  <span class="spacer"></span>

  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSinenavToggle()">
      <mat-icon *ngIf="sideNavState">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
