table {
  width: 100%;
}

td.mat-column-menu {
  width: 10%;
  padding-right: 8px;
}
td.mat-column-name {
  width: 30%;
  padding-right: 8px;
}
td.mat-column-email {
  width: 30%;
  padding-right: 8px;
}
td.mat-column-accessLevel {
  width: 30%;
  padding-right: 8px;
}
