<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>CinemaApp</mat-card-title>

    </mat-card-header>
    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="E-mail">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Senha">
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Confirmação da Senha">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block">Registrar</button>
    </form>
    <button mat-button color="primary" class="btn-register" routerLink="/login" routerLinkActive="active">Já tenho uma conta</button>

  </mat-card>

</div>
