.main-toolbar{
  flex: 0 0 64px; z-index: 10;
  position: -webkit-sticky;
  top: 0;
  margin: 0px;

}
.footer {
  position: fixed;
  bottom: 0;
  top: auto;
}
.home-img{
  margin-right: 15px;
}
.main {
  overflow-y: auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.no-v-scroll {
  height: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}
.mat-flat-button:hover{
  background: rgba(255, 255, 255, 0.04)
}
.mat-icon-button{
  margin-right:5px
}
.mat-icon-button:hover{
  background: rgba(255, 255, 255, 0.04)
}

.hidden{
  display: none;
}


.sidenav-container {
  height: 100%;
}


.sidenav {
  width: 300px;
  margin-top: 64px;
}

.footernav {
  width: 300px;
  margin-top: auto;
  margin-bottom: 56px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  padding-top: 64px;
  padding-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #424242;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #696969;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}
